<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Novo Proponente</h1>
    </div>
    <div class="col-md-8">
      <%= render 'form', proponent: @proponent %>
    </div>
  </div>
</div>

